{% extends "layout.html" %} {% block import %}
<link href="../static/Stylesheets/employerHome.css" rel="stylesheet" />
<style>
    .account-img {
        height: 100px;
        width: 100px;
        border-radius: 100%;
        object-fit: cover;
        /* margin-right: 20px; */
        /* margin-bottom: 16px; */
    }
</style>
{% endblock %} {% block body2 %}
<h1 style="text-align: center;">Employer Page</h1>
<div class="row no-gutters">
    <div class="col-md-3">
        <div style="text-align: center;" class="content-section">
            <h3>Your info</h3>
            {% if not image_file %}
            <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/user2.png') }}" /> {% else %}
            <img class="rounded-circle account-img" src="{{image_file}}" /> {% endif %}

            <h3>{{username}}</h3>
            <p>Title<br> Company name</p>
            <a href="{{url_for('updateUsrPass')}}"><button type="button" class="btn btn-info float-l" >EDIT</button></a>
        </div>
    </div>

    <div class="col-md-9">
        <div class="content-section">
            <h3 style="text-align: center;">Manage employees</h3>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <a href="{{ url_for('add_employee') }}">
                        <div class="card">
                            <div><i class="fas fa-user-plus fa-6x"></i></div>
                            <h6>Add New Employees</h6>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-4 col-12">
                    <a href="{{ url_for('employer_employees') }}">
                        <div class="card">
                            <div><i class="fas fa-users fa-6x"></i></div>
                            <h6>All Employees</h6>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-4 col-12">
                    <a href="{{ url_for('company') }}">
                        <div class="card">
                            <div><i class="fas fa-building fa-6x"></i></div>
                            <h6>Company information</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> {% endblock %}