{% extends "layout.html" %} {% block content %}
<div class="content-section">
    <h1>Employees</h1>
    {% if users == [] %}
    <h4>No results to show</h4>
    {% else %}
    <table id="table" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <tr>
            <th>User</th>
            <th>Email</th>
        </tr>
        {% for user in users %}
        <tr>
            <td><a href="{{ url_for('single_employee', id=user.id) }}">{{ user.username }}</a></td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}