appdirs==1.4.4
astroid==2.0.4
atomicwrites==1.2.1
attrs==18.2.0
bcrypt==3.1.7
beautifulsoup4==4.7.1
bs4==0.0.1
cachelib==0.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.3.9
cryptography==2.9.2
cssselect==1.0.3
cycler==0.10.0
distlib==0.3.0
dnspython==1.16.0
feedfinder2==0.0.4
feedparser==5.2.1
filelock==3.0.12
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.3
Flask-Login==0.5.0
Flask-Session==0.3.2
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
funcparserlib==0.3.6
gTTS==2.0.3
gTTS-token==1.1.3
gunicorn==20.0.4
hypothesis==3.71.3
idna==2.7
importlib-metadata==1.6.0
is-disposable-email==1.0.0
isort==4.3.4
itsdangerous==1.1.0
jellyfish==0.7.2
jieba3k==0.35.1
Jinja2==2.11.2
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
lib50==2.0.8
lxml==4.3.0
MarkupSafe==1.1.1
matplotlib==2.2.3
mccabe==0.6.1
mido==1.2.8
more-itertools==4.3.0
newspaper3k==0.2.8
nltk==3.4
nose==1.3.7
numpy==1.15.1
pexpect==4.8.0
Pillow==5.4.1
plaid-python==4.0.0
pluggy==0.7.1
psycopg2==2.8.5
psycopg2-binary==2.8.5
ptyprocess==0.6.0
py==1.6.0
pycodestyle==2.4.0
pycparser==2.20
pygame==1.9.4
Pygments==2.2.0
pylint==2.1.1
pyparsing==2.2.0
pytest==3.8.0
python-dateutil==2.7.3
python-ta==1.4.1
pytz==2018.5
PyYAML==3.13
requests==2.20.0
requests-file==1.4.3
singledispatch==3.4.0.3
six==1.15.0
soupsieve==1.7.3
SpeechRecognition==3.8.1
SQLAlchemy==1.3.17
submit50==3.0.2
termcolor==1.1.0
tinysegmenter==0.3
tldextract==2.2.0
urllib3==1.24.1
virtualenv==20.0.20
Werkzeug==1.0.1
wrapt==1.10.11
WTForms==2.2.1
wtforms-validators==1.0.0
zipp==3.1.0
