<!DOCTYPE html>
<html>

<head>
    <!-- Firebase -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/4.0.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.0.0/firebase-ui-auth.css" />
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <script src="../static/Scripts/firebase.js"></script>
    <link rel="stylesheet" href="../static/Stylesheets/login.css">
    <link href="../static/Stylesheets/style.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="../static/img/logo.png" alt="logo.png" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarResposive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="firebaseui-auth-container"></div>

    <!--- Footer -->
    <footer>
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="../static/img/w3newbie.png" alt="" />
                    <hr class="light" />
                    <p>555-555-5555</p>
                    <p>yoyoy@email.com</p>
                    <p>100 yoyoyo street</p>
                    <p>City, State, Zip</p>
                </div>
                <div class="col-md-4">
                    <br />
                    <br />
                    <hr class="light" />
                    <p>Our Hours</p>
                    <p>Monday-Friday: 9:00am - 5:00pm</p>
                    <p>Saturday: 10:00am - 4:00pm</p>
                    <p>Sunday: Closed</p>
                </div>
                <div class="col-md-4">
                    <br />
                    <br />
                    <hr class="light" />
                    <p>Our Hours</p>
                    <p>Monday-Friday: 9:00am - 5:00pm</p>
                    <p>Saturday: 10:00am - 4:00pm</p>
                    <p>Sunday: Closed</p>
                </div>
                <div class="col-12">
                    <hr class="light-100" />
                    <h5>&copy; yoyoycopyright</h5>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>