{% extends "layout.html" %} {% block content %}

<!--- Meet the team -->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Meet the Team</h1>
            <hr />
        </div>
    </div>
</div>
<!--- Cards -->
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="../static/img/team1.png" alt="" />
                <div class="card-body">
                    <h4 class="card-title">
                        John Doe
                    </h4>
                    <p>
                        John is an internet enterpreneur with almost 20 years of experience.
                    </p>
                    <a href="#" class="btn btn-outline-secondary">See Profile</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="../static/img/team2.png" alt="" />
                <div class="card-body">
                    <h4 class="card-title">
                        Mary Jo
                    </h4>
                    <p>
                        Joe is an designer with almost 10years of digital design experience.
                    </p>
                    <a href="#" class="btn btn-outline-secondary">See Profile</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="../static/img/team3.png" alt="" />
                <div class="card-body">
                    <h4 class="card-title">
                        Phil Ho
                    </h4>
                    <p>
                        Phil is a developer with almost 5years of development experience.
                    </p>
                    <a href="#" class="btn btn-outline-secondary">See Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}