{% extends "layout.html" %} {% block import %}
<link href="../static/Stylesheets/employerHome.css" rel="stylesheet" />{% endblock %} {% block body2 %}
<!--  Added the style here for now as main.css is not working. -->
<style>
    .float-l {
        margin: 10px;
    }
    
    .total {
        width: 100px;
        margin-left: 75%;
    }
</style>

<div class="row no-gutters">
    <div class="col-md-3">
        <div style="text-align: center;" class="content-section content-box">
            <h3>Your info</h3>
            {% if not image_file %}
            <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/user2.png') }}" /> {% else %}
            <img class="rounded-circle account-img" src="{{image_file}}" /> {% endif %}

            <h3>{{username}}</h3>
            <p>Title<br> Company name</p>
            <a href="{{url_for('updateUsrPass')}}"><button type="button" class="btn btn-info float-l" >EDIT</button></a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="content-section content-box">
            <h3>Welcome, {{ username }}</h3>
            {%if registered%}
            <div class="content-section">
                <!-- EMPLOYEE ACCOUNT INFO HERE -->
                <div>
                    <table class="table">
                        <tr>
                            <th>Sno.</th>
                            <th>Lending Institution</th>
                            <th>Monthly Payment</th>
                            <th>Employee Monthly Payment</th>
                            <th>Amount remaining</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>TD</td>
                            <td>700</td>
                            <td>500</td>
                            <td>50000</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>TD</td>
                            <td>700</td>
                            <td>500</td>
                            <td>50000</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>TD</td>
                            <td>700</td>
                            <td>500</td>
                            <td>50000</td>
                        </tr>
                    </table>
                    <br />
                    <div class="total">TOTAL: NIL</div>
                </div>

                <br />
                <!-- ACTIONS AVAILABLE -->
                <button type="button" class="btn btn-info float-l">REFINANCE</button>
                <a href="{{url_for('updateUsrPass')}}">
                    <button type="button" class="btn btn-info float-l">
        EDIT PROFILE
      </button>
                </a>
                <button type="button" class="btn btn-info float-l">PAY INSTALLMENT</button>
                <button type="button" class="btn btn-info float-l">ADD BANK</button>
                <button type="button" class="btn btn-info float-l">DELETE BANK</button>
            </div>
        </div>
        {% else %} You need to authenticate your bank account with us from which you pay student loan from. <br> You have multiple bank accounts? You can add all later on. Start by authenticating one of them.
        <h3>We DO NOT share your sensitive information with anyone.</h3>
        <p id="reload-text"></p>
        <!-- <a href="{{ url_for('plaid_authenticate') }}"><button class="btn btn-outline-info">Authenticate</button></a> -->
        <div id="container" class="initial-view">
            <button id="link-btn" class="button button--is-primary btn btn-outline-info">Authenticate</button>
            <div class="loading-indicator"></div>
        </div>
    </div>
    {% endif %}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script>
    (function($) {
        // Handles redirect from the oauth response page for the oauth flow.
        if (document.referrer != null && document.referrer.includes('http://localhost:5000/oauth-response.html')) {
            $('#container').fadeOut('fast', function() {
                $('#item_id').text('{{ item_id }}');
                $('#access_token').text('{{ access_token }}');
                $('#intro').hide();
                $('#app, #steps').fadeIn('slow');
            });
        }
        var products = '{{ plaid_products }}'.split(',');
        if (products.includes('assets')) {
            $('#assets').show();
        }

        var linkHandlerCommonOptions = {
            apiVersion: 'v2',
            clientName: 'Plaid Quickstart',
            env: '{{ plaid_environment }}',
            product: products,
            key: '{{ plaid_public_key }}',
            countryCodes: '{{ plaid_country_codes }}'.split(','),
        };
        var oauthRedirectUri = '{{ plaid_oauth_redirect_uri }}';
        if (oauthRedirectUri != '') {
            linkHandlerCommonOptions.oauthRedirectUri = oauthRedirectUri;
        }
        var oauthNonce = '{{ plaid_oauth_nonce }}';
        if (oauthNonce != '') {
            linkHandlerCommonOptions.oauthNonce = oauthNonce;
        }
        // This functionality is only relevant for the UK Payment Initiation product.
        if (products.includes('payment_initiation')) {
            $('.payment_initiation').show();
            $.post('/set_payment_token', {}, function(data) {
                var paymentToken = data.payment_token;
                $('#payment_token').text(paymentToken);

                // In the case of payment_initiation product, we need to wait for
                // payment token to be generated before the Link handler can be
                // initialized.
                handler = Plaid.create({
                    ...linkHandlerCommonOptions,
                    paymentToken: paymentToken,
                    language: 'en',
                    onSuccess: function(public_token) {
                        // This public token exchange step is not relevant for the
                        // payment_initiation product and should be skipped.
                        $.post('/get_access_token', {
                            public_token: public_token
                        }, function(data) {
                            $('#container').fadeOut('fast', function() {
                                $('#item_id').text(data.item_id);
                                $('#access_token').text(data.access_token);
                                $('#intro').hide();
                                $('#app, #steps').fadeIn('slow');
                            });
                        });
                    },
                });
                $('#link-btn').attr('disabled', false);
                $('.loading-indicator').hide();
            });
        } else {
            var handler = Plaid.create({
                ...linkHandlerCommonOptions,
                // webhook: 'https://your-domain.tld/plaid-webhook',
                onSuccess: function(public_token) {
                    $.post('/get_access_token', {
                        public_token: public_token
                    }, function(data) {
                        $('#container').fadeOut('fast', function() {
                            $('#item_id').text(data.item_id);
                            $('#access_token').text(data.access_token);
                            $('#intro').hide();
                            $('#app, #steps').fadeIn('slow');
                        });
                    });
                },
            });
            $('#link-btn').attr('disabled', false);
            $('.loading-indicator').hide();
        }

        var accessToken = qs('access_token');
        if (accessToken != null && accessToken != '') {
            $.post('/set_access_token', {
                access_token: accessToken
            }, function(data) {
                $('#item_id').text(data.item_id);
                $('#access_token').text(accessToken);
                $('#container').fadeOut('fast', function() {
                    $('#intro').hide();
                    $('#app, #steps').fadeIn('slow');
                });
            });
        }

        $('#link-btn').on('click', function(e) {
            handler.open();
            // Asks the user to log out and then login
            document.querySelectory("#reload-text").innerHTML += "You need to logout and reload the page";
        });

        $('#get-accounts-btn').on('click', function(e) {
            $.get('/accounts', function(data) {
                $('#get-accounts-data').slideUp(function() {
                    if (data.error != null) {
                        displayError(this, data.error);
                        return;
                    }
                    var accountData = data.accounts;
                    var html = '<tr><td><strong>Name</strong></td><td><strong>Balances</strong></td><td><strong>Subtype</strong></td><td><strong>Mask</strong></td></tr>';
                    accountData.accounts.forEach(function(account, idx) {
                        html += '<tr>';
                        html += '<td>' + account.name + '</td>';
                        html += '<td>$' + (account.balances.available != null ? account.balances.available : account.balances.current) + '</td>';
                        html += '<td>' + account.subtype + '</td>';
                        html += '<td>' + account.mask + '</td>';
                        html += '</tr>';
                    });

                    $(this).html(html).slideDown();
                });
            });
        });


    })(jQuery);

    function qs(key) {
        key = key.replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&"); // escape RegEx meta chars
        var match = location.search.match(new RegExp("[?&]" + key + "=([^&]+)(&|$)"));
        return match && decodeURIComponent(match[1].replace(/\+/g, " "));
    }

    function displayError(element, error) {
        var html = `
    <div class="alert alert-danger">
      <p><strong>Error Code:</strong> ${error.error_code}</p>
      <p><strong>Error Type:</strong> ${error.error_type}</p>
      <p><strong>Error Message:</strong> ${error.display_message == null ? error.error_message : error.display_message}</p>
      <div>Check out our <a href="https://plaid.com/docs/#errors-overview">errors documentation</a> for more information.</div>
    </div>`;
        console.log(element);
        console.log(html);
        $(element).html(html).slideDown();
    }
</script>
{% endblock %}