<!DOCTYPE html>
<html>

<head>
    <title>Verification of account needed</title>
    <style>
        body {
            background-color: aliceblue;
            text-align: center;
        }
        
        button {
            padding: 10px;
            background-color: aquamarine;
            margin: 20px;
        }
    </style>
</head>

<body>
    <h1>Authentication needed</h1>
    <hr> Your employer has requested you to authenticated your account on your employie dashboard.<br>
    <button>Redirect there</button>
    <br> Verified email by Imployie
</body>

</html>